.blog-section__title {
    font-size: 21px;
    font-weight: 500;
    color: #474b57;
    margin-bottom: 35px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-title {
    font-size: 16px;
    font-weight: 500;
    color: #474b57;
    margin-bottom: 20px ;
}

.form__field {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

.form__area {
    width: 500px;
    height: 165px;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    resize: none;
}

.btn {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border: none;
    background-color: $blue;
    padding: 10px 15px;
    border-radius: 5px;
}